<h2></h2>
<p><img src="http://www.gravatar.com/avatar/e618718dd22271355ffcc77f527ba2d5.png" alt="John Griffith" title="Follow me on Twitter @jdg_8"  class="img-rounded floatLeft" />
Coder, skier, horseman, sailor...</p>
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=j-griffith&repo=j-griffith.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=j-griffith&repo=j-griffith.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/jdg_8" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @jdg_8</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/j-griffith" rel="me" class="social github" title="Go to github.com/j-griffith" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/jdg_8" rel="me" class="social twitter" title="Go to twitter.com/jdg_8" target="_blank"></a></li>
	</ul>
</p>
