<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="imagetoolbar" content="false">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="author" content="Artisan Mobile" />
  <meta name="description" content="{{ page.description }}" />
	{% if page.tags %}<meta name="keywords" content="{% for tag in page.tags%}{% if forloop.last %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}" />{% endif %}

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:url" content="http://dev.useartisan.com" />
	<meta name="twitter:title" content="{{ page.title }}" />
	<meta name="twitter:description" content="{{ page.description }}" />
	<meta name="twitter:site" content="@artisanmobile" />
	<meta name="twitter:image" content="http://dev.useartisan.com/images/twitter-card-image.png" />

	<meta property="og:site_name" content="Artisan Developers" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:article:author" content="Kevin M. Jackson" />
	<meta property="og:url" content="http://dev.useartisan.com" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="//use.typekit.net/zqm4dpz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/base-min.css">
  <link rel="stylesheet" href="/docs.css?1383232685" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <header>
    <h1><a href="/user-guide">Artisan Mobile, Inc.</a></h1>
  </header>
