<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://j-griffith.github.com">My blog posts</a>
	  <div class="nav-collapse">
		<ul class="nav">
		  <li class="">
			<a href="http://j-griffith.github.com"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class=""><a href="http://www.twitter.com/jdg_8" rel="tooltip" title="Go to twitter.com/jdg_8" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/j-griffith" rel="tooltip" title="Go to github.com/j-griffith" target="_blank">GitHub</a></li>
					<li class="divider"></li>
				</ul>
			 </li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
				<ul class="dropdown-menu">
				</ul>
			 </li>
		</ul>
	  </div>
	</div>
  </div>
</div>
