<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="imagetoolbar" content="false">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="author" content="Artisan Mobile" />
  <meta name="description" content="{{ page.description }}" />
	{% if page.tags %}<meta name="keywords" content="{% for tag in page.tags%}{% if forloop.last %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}" />{% endif %}

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:url" content="http://dev.useartisan.com" />
	<meta name="twitter:title" content="{{ page.title }}" />
	<meta name="twitter:description" content="{{ page.description }}" />
	<meta name="twitter:site" content="@artisanmobile" />
	<meta name="twitter:image" content="http://dev.useartisan.com/images/twitter-card-image.png" />

	<meta property="og:site_name" content="Artisan Developers" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:article:author" content="Kevin M. Jackson" />
	<meta property="og:url" content="http://dev.useartisan.com" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="//use.typekit.net/zqm4dpz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/base-min.css">
  <link rel="stylesheet" href="/docs.css?1383232685" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <header>
    <h1><a href="/user-guide">Artisan Mobile, Inc.</a></h1>
  </header>

<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'ericjones'; // required: replace example with your forum shortname
		var disqus_identifier = '{{ page.url }}';
		var disqus_url = 'http://erjjones.github.com{{ page.url }}';

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>

<div class="row">
	<div class="span9 column">
		<p><h1>{{ page.title }}</h1></p>
	</div>
</div>
<div class="row">
	<div class="span3 column">
		<h5><strong>{{ page.date | date: "%B %e, %Y" }} <small>. {{ page.category }} . <a href="http://erjjones.github.com{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">Comments</a></small></strong>
		<br/><small>Tags: {% for tag in page.tags %} <a href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;"><u>{{ tag }}</u></a>  {% if forloop.last != true %} {% endif %} {% endfor %} </small><br/><br/>
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="erjjones">Tweet</a> <g:plusone size="medium"></g:plusone></h5>
	</div>
	<div class="span6 column">
		<p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-chevron-left"></i></a> 	{% endif %}   {% if page.next.url %} 	<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}"><i class="icon-chevron-right"></i></a> 	{% endif %} </p>
	</div>
</div>
<div class="row">
	<div class="span9 column">
		<hr>
	</div>
</div>

